&uart0 {
	compatible = "nordic,nrf-uarte";
	current-speed = <115200>;
	status = "okay";
	hw-flow-control;
};

&i2c0 {
	compatible = "nordic,nrf-twis";
	status = "okay";

	/* pinctrl macros are waaaay too complicated. */
	sda-pin = <26>;
	scl-pin = <27>;

	eeprom:24lc32a@50 {
		label = "Emulated read-only 24LC32A";
		reg = <0x50>;
	};
};

/ {
	outputs {
		compatible = "gpio-noinit";
		gpio_s0		{gpios = < &gpio1 3 GPIO_ACTIVE_HIGH >;};
		gpio_s1 	{gpios = < &gpio1 4 GPIO_ACTIVE_HIGH >;};
		gpio_s2 	{gpios = < &gpio1 5 GPIO_ACTIVE_HIGH >;};
		gpio_ext	{gpios = < &gpio1 6 GPIO_ACTIVE_HIGH >;};
	};
	inputs {
		compatible = "gpio-noinit";
		gpio_clip {gpios = < &gpio1 7 GPIO_ACTIVE_LOW >;};
	};
};
